.company {
  padding: 4rem 4rem;
  background-color: #f5f6f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  &__subhead {
    font-size: 1.7rem;
    text-align: center;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;

    &__img {
      height: 1.2rem;
      object-fit: contain;
      transition: scale 0.3s ease;
    }
    &__img:hover {
      scale: 1.08;
    }
  }
}

@media (min-width: 1441px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 835px) and (max-width: 1024px) {
  .company {
    padding: 4rem 3rem;
  }
}

@media (min-width: 769px) and (max-width: 834px) {
  .company {
    padding: 4rem 2.8rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .company {
    padding: 4rem 2.2rem;
  }
}

@media (max-width: 480px) {
  .company {
    padding: 4rem 1.8rem;
  }
}
