.started {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;

  margin: 2rem 4rem;
  background-color: #3734a9;
  border-radius: 1rem;
  padding: 8rem 1rem;
  &__head {
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
  }
  &__button {
    padding: 1rem 2rem;
    color: white;
    background-color: #ff7f5c;
    border-radius: 0.5rem;
    border-style: none;
  }
}

@media (min-width: 1441px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .started {
    margin: 2rem 3.2rem;
    padding: 6rem 1rem;
    &__head {
      font-size: 3rem;
    }
    &__button {
      padding: 1rem 2rem;
    }
  }
}
@media (min-width: 835px) and (max-width: 1024px) {
  .started {
    margin: 2rem 3rem;
    padding: 6rem 1rem;
    &__head {
      font-size: 3rem;
    }
    &__button {
      padding: 1rem 2rem;
    }
  }
}

@media (min-width: 769px) and (max-width: 834px) {
  .started {
    margin: 2rem 2.8rem;
    padding: 5rem 1rem;
    &__head {
      font-size: 2.8rem;
    }
    &__button {
      padding: 0.8rem 1.6rem;
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .started {
    margin: 2rem 2.2rem;
    padding: 4rem 1rem;
    &__head {
      font-size: 2.2rem;
    }
    &__button {
      padding: 0.8rem 1.4rem;
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 480px) {
  .started {
    margin: 2rem 1.8rem;
    padding: 3rem 1rem;
    &__head {
      font-size: 2rem;
    }
    &__button {
      padding: 0.8rem 1.2rem;
      font-size: 0.8rem;
    }
  }
}
