.tes {
  padding: 3rem 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  &__img {
    position: absolute;
    right: 10%;
    height: 7rem;
  }
  &__head {
    font-size: 3.2rem;
    font-weight: 700;
  }
  &__body {
    max-width: 34rem;
    width: 100%;
  }
  &__slider {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    &__card1,
    &__card2,
    &__card3 {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 2rem;
      border: 1px solid #cfcfcf;
      border-radius: 1rem;
      padding: 2rem;
      scale: 0.95;

      transition: scale 0.3s ease, background-color 0.3s ease;
      &__quote {
        height: 1.5rem;
        padding: 0.65rem 0.5rem 0.7rem 1rem;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        top: -1.5rem;
      }
      &__text {
        width: 20rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &__comment {
          font-size: 1.2rem;
          font-weight: 700;
        }
        &__author {
          font-weight: 600;
        }
      }
      &__img {
        width: 15rem;
      }
    }
    &__card1:hover,
    &__card2:hover,
    &__card3:hover {
      scale: 1;
      background-color: #e5e5e5;
    }
  }
}

@media (min-width: 1441px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 835px) and (max-width: 1024px) {
  .tes {
    padding: 3rem 3rem;

    gap: 2.8rem;
    &__img {
      right: 10%;
    }
    &__head {
      font-size: 3rem;
      font-weight: 800;
    }
    &__body {
      width: 100%;
    }
    &__slider {
      display: flex;
      gap: 2rem;
      overflow-x: auto;
      &__card1,
      &__card2,
      &__card3 {
        padding: 1.5rem;

        &__text {
          width: 18rem;

          gap: 2rem;
          &__comment {
            font-size: 1.1rem;
          }
          &__author {
            font-weight: 600;
          }
        }
        &__img {
          width: 13rem;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 834px) {
  .tes {
    padding: 3rem 2.8rem;

    gap: 2.8rem;
    &__img {
      right: 10%;
    }
    &__head {
      font-size: 2.5rem;
    }
    &__body {
    }
    &__slider {
      gap: 1.2rem;
      &__card1,
      &__card2,
      &__card3 {
        // padding: 1.25rem;

        &__text {
          width: 16rem;

          gap: 2rem;
          &__comment {
            font-size: 1rem;
          }
          &__author {
            font-weight: 600;
          }
        }
        &__img {
          width: 11rem;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .tes {
    padding: 3rem 2.2rem;

    gap: 2.8rem;
    &__img {
      right: 10%;
      height: 6rem;
    }
    &__head {
      font-size: 2.2rem;
    }
    &__body {
      font-size: 0.9rem;
    }
    &__slider {
      gap: 0.1rem;
      &__card1,
      &__card2,
      &__card3 {
        padding: 1.25rem;

        &__text {
          width: 14rem;

          gap: 2rem;
          &__comment {
            font-size: 0.9rem;
          }
          &__author {
            font-weight: 600;
            font-size: 0.7rem;
          }
        }
        &__img {
          width: 9rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .tes {
    padding: 3rem 1.8rem;

    gap: 2.8rem;
    &__img {
      right: 10%;
      height: 10%;
    }
    &__head {
      font-size: 2rem;
    }
    &__body {
      font-size: 0.7rem;
    }
    &__slider {
      gap: 0.1rem;
      &__card1,
      &__card2,
      &__card3 {
        padding: 1rem;

        &__text {
          width: 12rem;

          gap: 2rem;
          &__comment {
            font-size: 0.7rem;
          }
          &__author {
            font-weight: 600;
            font-size: 0.6rem;
          }
        }
        &__img {
          width: 7rem;
        }
      }
    }
  }
}
