.feats {
  &__payments {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    align-items: center;
    // justify-content: ;
    padding-top: 6rem;
    padding-bottom: 6rem;

    &__img {
      animation: bounce 1.5s ease-in-out infinite;
      width: 100%;
      max-width: 38rem;
    }
    &__text {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 38rem;
      gap: 1rem;
      &__subtitle {
        font-weight: 700;
        color: #3734a9;
      }
      &__head {
        font-size: 3.4rem;
        font-weight: bold;
      }
      &__body {
        color: #505887;
      }
      &__line {
        border: 2px solid #c4c4c4;
      }
      &__lists {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &__list {
          display: flex;
          align-items: center;
          gap: 1rem;
          &__check {
            height: 1rem;
            background-color: #fdbc64;
            padding: 0.4rem;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(14%);
  }
  50% {
    transform: translateY(11%);
  }
  100% {
    transform: translateY(14%);
  }
}

@media (min-width: 1441px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 835px) and (max-width: 1024px) {
}

@media (min-width: 769px) and (max-width: 834px) {
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media (max-width: 480px) {
}
