.statistics {
  background-color: #3734a9;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  &__heading {
    width: 9rem;
  }
  &__line {
    border: 2px solid #3d3d3d;
    height: 13rem;
    position: absolute;
    left: 20rem;
  }
  &__users,
  &__reviews,
  &__transactions {
    &__num {
      font-size: 3.5rem;
    }
    &__detail {
      display: flex;
      gap: 1rem;
      align-items: center;
      &__img {
        height: 1.1rem;
      }
      &__text {
      }
    }
  }
}

@media (min-width: 1441px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 835px) and (max-width: 1024px) {
}

@media (min-width: 769px) and (max-width: 834px) {
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media (max-width: 480px) {
}
