.blogs {
  padding: 8rem 4rem;
  display: flex;
  flex-direction: column;
  background-color: #fafbff;
  gap: 4rem;
  &__head {
    font-size: 3.2rem;
    font-weight: 700;
  }
  &__top {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    transition: scale 0.3s ease, background-color 0.3s ease;
    &__text {
      width: 32rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      &__subtitle {
        font-weight: 600;
      }
      &__heading {
        font-size: 1.8rem;
        font-weight: 700;
      }
      &__readMore {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        &__text {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 600;
          &__img {
            height: 0.8rem;
          }
        }
      }
    }
    &__img {
      max-width: 30rem;
      width: 100%;
    }
  }
  &__top:hover {
    // transform: translateY(-1rem);
    scale: 1.02;
    background-color: #e5e5e5;
  }
  &__bot {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    &__first,
    &__second,
    &__third {
      padding: 1rem 0rem 1rem 1rem;
      transition: transform 0.3s ease, background-color 0.3s ease;
      height: 26rem;
      background-color: white;
      width: 24rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;

      &__text {
        width: 20rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &__subtitle {
          font-weight: 600;
        }
        &__heading {
          font-size: 1.5rem;
          font-weight: 700;
          padding-bottom: 1rem;
        }
      }
      &__img {
      }
    }
    &__first:hover,
    &__second:hover,
    &__third:hover {
      transform: translateY(-1rem);
      background-color: #e5e5e5;
    }
  }
}

@media (min-width: 1441px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 835px) and (max-width: 1024px) {
  .company {
    padding: 4rem 3rem;
  }
}

@media (min-width: 769px) and (max-width: 834px) {
  .company {
    padding: 4rem 2.8rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .company {
    padding: 4rem 2.2rem;
  }
}

@media (max-width: 480px) {
  .company {
    padding: 4rem 1.8rem;
  }
}
